.container {
    width: 95%;
}
h2 {
    font-size: 3em;
}
hr {
    height: 1px;
    background-color: black;
    margin: 5% 0;
}
nav {
    background-color: #2b2d42;
}
#banner h5 {
    font-size: 28px;
}
#banner p {
    line-height: 1.2;
}
.carousel-item {
    max-height: 65vh;
}

#pet-grid a {
    text-decoration: none;
}
#pet-grid img {
    min-height: 220px;
    height: auto;
}
#pet-grid .card:hover {
    opacity: 0.7;
}

.event:hover {
    color: white;
    background-color: black;
}

footer {
    background-color: #2b2d42;
    height: 140px;
    padding: 0 10%;
}

footer > div {
    height: 100%;
    width: 100%;
}

@media all and (min-width: 768px) {
    #news-content {
        max-height: 200px;
    }

    #subscribe,
    #pet-events {
        width: 50%;
    }

    #subscribe {
        border-left: 2px solid;
    }

    footer {
        padding: 0 30%;
    }
}
